.conteiner{
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

.btns{
    color: grey;
    background-color: black;
    

}

.btns:hover{
    background-color: grey;
    color: #282c34;
}